#main{
    display: flex;
    margin:auto;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 90%;
    flex-direction: column;
}

label{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input{
    width:100%;
    height:20px;
}

#main form span{
    font-size:smaller;
}

#main form{
    width:500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#main form div{
    margin: 3px auto 2px auto;
    width:100%;
}

.sesso{
    display:flex;
    flex-direction: column;
}

.sesso p{
    margin: 0px;
    width:100%;
    text-align:center;
}

.sub{
    margin: 0px;
    display: flex;
    flex-direction:row;
}

.item{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content:space-around;
}

body{
    background-color: rgb(217 218 217 / 16%);
}

span{
    color:red;
}